#expansion{
	width: 130px;
	height: 152px;
	background-color: #666666;
	display: none;
	position: absolute;
	left: 3%;
	top: 15%;
	z-index: 10;
}
.titleEx{
	width: 100%;
	height: 25%;
	border-bottom: 1px solid white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.titleEx span{
	margin-left: 10px;
	color: white;
	font-size: 20px;
}
.titleEx:last-child{
	border-bottom: none;
}
